<hmtl>
	<body>
		<h1>HDFC Bank</h1>
		<table border="1">
			<thead>
				<tr>
					<th>Services</th>
				
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Healthcare Finance</td>
				</tr>
				<tr>
					<td>Credit and Debit cards</td>
				</tr>
				<tr>
					<td>Personal Loans</td>
				</tr>
				<tr>
					<td>Home Loans</td>
				</tr>
				<tr>
					<td>Gold Loans</td>
				</tr>
				<tr>
					<td>Commercial Vehicle Finance</td>
				</tr>
				<tr>
					<td>Savings Account</td>
				</tr>
				<tr>
					<td>Current Account</td>
				</tr>
				<tr>
					<td>Fixed and Recurring Deposits</td>
				</tr>
				<tr>
					<td>Corporate Salary Accounts</td>
				</tr>
			</tbody>
		</table>
	</body>